<main class="main-content">
    <section class="section-content body bg-body">
       <div class="wrapper">
            <h2>Edit <%= resource_name.to_s.humanize %></h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <%= f.input :first_name, required: true%>
            <%= f.input :last_name, required: true%>
            <%= f.input :date_of_birth, order: [:month, :year] %>
            <%= f.label :gender %><%= f.select  :gender, ['Male','Female'], :include_blank => true %>
            <%= f.input :mobile_number %>
            <%= f.input :city %>
            <%= f.input :state %>
            <%= f.input :zipcode %>
            </div>

            <div class="form-actions">
            <%= f.button :submit, "Update" %>
            </div>
            <% end %>

            <h3>Cancel my account</h3>

            <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

            <%= link_to "Back", :back %>
        </div>
    </section>
</main>
