<main class="main-content">
    <section class="section-content body bg-body">
          <div class="wrapper">
            <h2>Sign up</h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true %>
                <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                <%= f.input :password_confirmation, required: true %>

                <%= f.input :first_name %>
                <%= f.input :last_name %>
                <%= f.input :date_of_birth %>
                <%= f.input :gender %>
                <%= f.input :address %>
                <%= f.input :city %>
                <%= f.input :state %>
                <%= f.input :zipcode %>
                <%= f.hidden_field :role, :value => "guest" %>

              </div>

              <div class="form-actions">
                <%= f.button :submit, "Sign up" %>
              </div>
            <% end %>

            <%= render "devise/shared/links" %>
          </div>
      </section>
