<main class="main-content">
    <section class="section-content login bg-skyblue-login">
       <div class="wrapper">
       		<div class="form-login text-center">
       			<h2>Log In</h2>
       				
	       		  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  <div class="form-container form-inputs">
					    <%= f.input :email, required: false, autofocus: true, label: false, placeholder: "Email"%>
					    <%= f.input :password, required: false, label: false, placeholder: "Password" %>

					    <div class="float-left">
		                    <a href="#">Forgot your password?</a>
		                    <a href="#"><span>Sign up</span> now</a> 
		                </div>

		                <div class="form-actions float-right">
					    	<%= f.button :submit, "Log in", class: "btn login" %>
					  	</div>
					  <div class="clear"></div>
				  </div>
				  <div class="form-container">
                    <div>
                        <span>or</span>
                    </div>
                    
                     <img src="images/logo-fb.png"><%= link_to "Log In with Facebook", "/auth/facebook", id: "sign_in", class: "btn login-options" %>
                    <a href="#" class="btn login-options"><img src="images/logo-google.png">Log In with Google</a>
                 </div>

				<% end %>
					
       		</div>
		</div>
	</section>
</main>