<div class="appointment-doctor">

<table class="myTable">
	<thead>
	<tr>
		<th class="ID"> # </th>
		<th> Appointment Date</th>
		<th> Appointment Time</th>
		<th> Patient Full Name</th>
		<th> New Patient</th>
		<th> Insurance </th>
		<th> Reason for visit </th>
		<th> Status </th>
	</tr>
	</thead>

	<tbody>
	<% @appointments.each do |appointment| %>
	<tr>
		<td>
			<a href="/appointments/<%= appointment.id %>"><%= appointment.id %></a>
		</td>
		<td><% appointment.time_slot_id %>June 10, 2016</td>
		<td><% appointment.time_slot_id %> 10:00 AM</td>
		<td><% appointment.user_id %> Claire Ann M. Bayoda</td>
		<td>Old</td>
		<td><%= appointment.insurance %></td>
		<td><%= appointment.reason_for_visit %></td>	
		<td>Confirmed</td>
	</tr>
	<% end %>


	</tbody>
</table>

<%= will_paginate @appointments %>

</div>