
<main class="main-content">
    <section class="section-content looking-for bg-looking-for">
        <div class="wrapper42">
            <div class="looking-for-content text-center">
                <h1>Not what you're looking for?</h1>
            </div>
        </div>
    </section>

        <section class="section-content doctor-profile">
            <div class="wrapper42">
                <aside class="side-bar doctor-profile text-center">
                    <figure>
                        <%= image_tag @doctor.avatar %>
                    </figure>
                    <div>
                        <a href="#" class="btn doctor-contact">call</a>
                        <a href="#" class="btn doctor-contact">e-mail</a>
                    </div>
                    <div>
                        <ul>
                            <li>
                                <a href="#">Read Patient Ratings</a>
                                <span>★★★★★</span>
                            </li>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Credentials</a>
                            </li>
                        </ul>
                    </div>
                </aside>
                <div class="profile-info">
                    <div>
                        <h3><%= @doctor.first_name %> <%= @doctor.last_name %></h3>
                        <span><%= @doctor.specialty.name %></span>                                                
                        <p><%= @doctor.hospital_affiliations %></p>
                        <a href="#" class="btn book-now">book now</a>
                    </div>

                    <div class="doctor-credentials">
                        <ul>
                            <li>
                                <span>Education</span>
                                <p><%= @doctor.education %></p>
                            </li>

                            <li>
                                <span>Hospital Affiliations</span>
                                <p><%= @doctor.hospital_affiliations %></p>
                            </li>
                            
                            <li>
                                <span>Board Certification</span>
                                <p><%= @doctor.certification  %></p>
                            </li>
                            
                            <li>
                                <span>Specialties</span>
                                <p><%= @doctor.specialty.name %></p>
                            </li>
                            
                            <li>
                                <span>In-Network Insurances</span>
                                <p><%= @doctor.in_network_insurance %></p>
                            </li>
                            
                            <li>
                                <span>Professional Statement</span>
                                <p><%= @doctor.proffesional_statement %></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </section>


</main>