  <!-- Main Content -->
            <main class="main-content">
                <section class="section-content banner bg-banner">
                    <div class="wrapper42">
                        <div class="banner-content text-center">
                            <h1>Your Family’s<br>
                             in Safe Hands Now.</h1>
                            <p>Now you can choose a specific doctor that can help you with your medical needs. It’s just one click away!</p>
                        </div>
                        <div class="form-find text-center">
                            <%= form_for @search do |s| %>
                                <%= s.text_field :first_name, placeholder: "Name of Doctor"%>
                                 <%= s.select :city, options_for_select(@city), {include_blank: "City/Province"}%>
                                <%= s.select :in_network_insurance, options_for_select(@in_network_insurance), {include_blank: "Insurance"}, { :class => 'col-s3 specialty' }  %>
                                <%= s.submit "FIND", class: "btn find", name:"Find Button" %>
                            <% end %>
                        </div>
                    </div>
                </section>

                <section class="section-content convenience bg-skyblue-login">
                    <div class="wrapper">
                        <h2>Convenience within your Reach</h2>
                        <div class="convenience-content text-center">
                            <div class="float-left">
                                <p>Signup now, get accredited and have your Profile posted in our directory</p>
                                <a href="#" class="signup btn">signup</a>
                            </div>
                            
                            <div class="float-left">
                                <p>Register now and get the full directory of our doctors plus the Latest Updates</p>
                                <a href="#" class="register btn">register</a>
                             </div>
                             
                        </div>
                        <div class="clear"></div>
                    </div>
                </section>
            </main>


