<main class="main-content">
<section class="section-content find-your-doctor bg-find-your-doctor">
    <div class="wrapper42">
        <div class="find-your-doctor-content text-center">
            <h1>Find your Doctor Here</h1>
        </div>
        <!--
        <div class="form-find text-center">
            <form>
                <input type="text" name="Name of Doctor" placeholder="Name of Doctor">
                <select>
                    <option value="">City/Province</option>
                </select>
                <select>
                    <option value="">Specialty</option>
                </select>
                <input type="submit" value="find" class="btn find">
            </form>
        </div>
        -->
    </div>
</section>

<section class="section-content doctor-directory text-center">
    <div class="wrapper">
        <div class="doctor-directory-content">
            <div class="content-list">
           		
                <ul>
                	<% @search.search_doctors.each do |c| %>
                    <li>
                        <figure>
                            <%= image_tag c.avatar.url(:medium)%>
                        </figure>
                        <div>
                            <h3><%= c.first_name %> <%= c.last_name %></h3>
                            <span><%= c.specialty.name %></span>                                                
                            <p><%= c.city%> <br>Clinic Hours: <%= c.schedule%></p>
                            <a href="/doctors/<%= c.id %>" class="btn doctor-info">view profile</a>
                        </div>
                        <div class="clear"></div>
                    </li>
                    <% end %>
                </ul>
                
            </div>
        </div>

        <aside class="side-bar text-left">
            <span>Filter Selection</span>
            <div class="form-filter">
                <form>
                    <select>
                        <option value="">City/Province</option>
                    </select>
                    <select>
                        <option value="">Specialty</option>
                    </select>
                    <select>
                        <option value="">Clinic Hours</option>
                    </select>

                    <input type="submit" value="go" class="btn go">
                </form>
                <div class="clear"></div>
            </div>
            
        </aside>
        <div class="clear"></div>

        <a class="btn view-more"> view more</a>
    </div>
</section>
</main>



<!--<section class="section-content body bg-body">
       <div class="wrapper"><h5>Doctors in Indonesia, IDN</h5>

		<div class="row">

			<% @search.search_doctors.each do |c| %>

			<div class="col-md-3">
				<a href="/doctors/<%= c.id %>">
					<%= image_tag c.avatar.url(:thumb)%>
			 	</a>
				<h4><%= link_to c.first_name %></h4>
				<p><%= c.specialty%></p>
				<p><%= c.city %></p>

				
			</div>
			
			<% end %>

		</div>
	</div>
</section>-->


