@font-face {
  font-family: 'Montserrat-ExtraBold', sans-serif;
  src: url('fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('fonts/Montserrat-ExtraBold.woff') format('woff'),
  url('fonts/Montserrat-ExtraBold.ttf')  format('truetype'),
  url('fonts/Montserrat-ExtraBold.svg#Montserrat-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #fff;
}

p { line-height: 24px; }

a { color: #333; }

h1 {
	font-family: 'Montserrat-ExtraBold', sans-serif;
	font-size: 56px;
	font-weight: 900;
	color: #fff;
	max-width: 616px;
	margin: 0 auto;
	line-height: 70px;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #fff;
	max-width: 515px;
	margin: 0 auto;
}

h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 24px;
	font-weight: 700;
	color: #343434;
}

select {
	-webkit-appearance: menulist;
}

.body-wrapper { position: relative; overflow: hidden;}

.wrapper { max-width: 1008px; margin: 0 auto; padding: 0 14px;}

.wrapper42 { max-width: 1008px; margin: 0 auto; padding: 0 42px;}


.logo-bookadoc {
	display: inline-block;
	background: url(logo-bookadoc.png) no-repeat;
	background-size: 142px;
	width: 142px;
	height: 19px;
	margin-top: 17px;
}

/*-- Section-Conte8t --*/
.section-content { padding: 94px 0 100px; }

.section-content.header {padding: 25px 14px 17px 14px;}

.section-content.banner { padding: 22% 0 16%; }

.section-content.footer { padding: 55px 0 52px; }

/*-- Background --*/
.bg-banner {
	background: url(bg-banner.jpg) no-repeat;
	background-size: cover;
}

.bg-skyblue {
	background: url(bg-skyblue.jpg) no-repeat;
	background-size: cover;
}

/*--- Button ---*/
.btn {
	display: inline-block;
	vertical-align: middle;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
	min-width: 161px;
	padding: 16px 22px 14px 22px;
	cursor: pointer;
	border: #fff 1px solid;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.btn:hover {
	background-color: #00aeef;
	border: #00aeef 1px solid;
}

.btn.join {
	background-color: inherit;
	border: #fff 1px solid;
}

.btn.find {
	font-weight: 900;
	background: #00aeef;
	padding: 17px 0 15px;
	border: none;
}

.btn.find:hover {
	background: #3abdee;
}

/*-- Main Nav --*/
.main-header {
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(62, 60, 60, 0.7);
	padding: 18px 0 17px;
	width: 100%;
}

.main-nav ul {
	font-size: 0;
}

.main-nav ul li {	
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #fff;
}

.main-nav ul li:not(:first-child) a {
	font-weight: 700;
	color: inherit;
	text-transform: uppercase;
	padding: 0 12px;
}

.main-nav ul li:first-child a {
	color: #fff;
	letter-spacing: initial;
	text-transform: initial;
	margin-right: 25px;
}

/*-- Footer --*/
.main-footer { color: #848484; }
.main-footer span { margin-left: -30px; }
.footer-nav {
	margin-bottom: 30px;
}

.footer-nav ul {
	font-size: 0;
}

.footer-nav ul li {
	display: inline-block;
	vertical-align: middle;
	padding-right: 28px;
}

.footer-nav ul li a {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	color: #848484;
	font-weight: 900;
	text-transform: uppercase;

}

.footer-nav ul li:nth-child(3) .logo-bookadoc {
	margin: 0 43px;
}

/*-- BANNER --*/
.banner-content h1 { margin-bottom: 21px; }

.banner-content p { 
		max-width: 310px;
		margin:0 auto;
}

/*--- Form ---*/
.form-find {
	margin-top: 40px;
}

.form-find input[type="text"],
.form-find select, .form-filter select{
	vertical-align: middle;
	height: 54px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #a1a1a1;
	padding: 0 28px;
	box-shadow: 0px 2px 5px #313131;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.form-find select:first-of-type { min-width: 196px; margin: 0 26px; }
.form-find select:last-of-type { min-width: 252px; margin-right: 21px;}

/*-- Convenience --*/
.convenience-content {
	margin-top: 60px;
}

.convenience-content p {
	max-width: 270px;
	margin: 0 auto;
	padding-bottom: 32px;
}

.convenience-content div:first-of-type {
	padding-left: 182px;
}

.convenience-content div:last-of-type {
	padding-left: 85px;
}

/*-- UNIVERSAL --*/
.clear { clear: both; }

.table { display: table; width: 100%; height: 100%;}

.row { display: table-row; font-size: 0;}

.cell { display: table-cell; vertical-align: middle;}

.text-center { text-align: center;}
.text-left { text-align: left;}
.text-right { text-align: right;}

.float-left { float: left; }
.float-right { float: right; }


/*--Doctor Directory(Global)*/

/*-- Doctor Directory(Section) -- */
.section-content.find-your-doctor { padding: 175px 0 85px; }
.section-content.doctor-directory { padding: 50px 0; }

/*--Doctor Directory(Find your Doctor section) -- */
.section-content.find-your-doctor h1 {
	max-width: initial;
	margin: initial;
}


/*-- Doctor Directory (Background) -- */
.doctor-directory { background: #f3f3f3; }
.bg-find-your-doctor {
	background: url(bg-directory-banner.jpg);
	background-size: cover;
}

.bg-side-bar {
	background: url(bg-side-bar.jpg);
	background-size: cover;
}

/*-- Doctor Directory (Button) */
.btn.doctor-info {
	background: initial;
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	color: #00aeef;
	letter-spacing: 4px;
	min-width: 140px;
	padding: 11px 14px 10px 15px;
	border: 1px solid #00aeef;
	border-radius: 30px;
}

.btn.go {
	background: #00aeef;
	min-width: 140px;
	border: initial;
}

.btn.go:hover { background: #3abdee; }

.btn.view-more {
	background: initial;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 700;
	text-align: center;
	color: #8dc63f;
	letter-spacing: 4px;
	min-width: 196px;
	padding: 16px 32px 14px 31px;
	border: 1px solid #8dc63f;
	border-radius: 30px;

}
/*-- Doctor Directory (Content)*/

.doctor-directory-content, .side-bar.join-now {
	word-wrap: break-word;
	float: left;
}

.doctor-directory-content {
	width: 67%;
	padding-right: 26px;
}

.content-list h3 {
	color: #343434;
	padding-bottom: 10px;
}

.content-list span {
	font-weight: 700;
	color: #848484;
	max-width: 252px;
	margin: 0 auto;
}

.content-list p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	color: #343434;
	line-height: 20px;
	padding: 22px 0 30px;
}

.content-list figure {
	width: 37%;
	float: left;
}

.content-list figure img { width: 100%; }

.content-list ul li {
	margin-bottom: 30px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px; 
	box-shadow: 0px 2px 1px #d5d0d0;
}

.content-list ul li:nth-child(even) div:first-of-type { background: #e1e1e1; }

.content-list ul li:last-of-type { margin-bottom: 50px; }

.content-list ul li div:first-of-type {
	width: 63%;
	float: left;
	text-align: left;
	background: #cecece;
	padding: 38px 0 22px 29px;
}


.content-list li div a:first-of-type { margin-right: 15px; }
.content-list li div a:last-of-type { margin-left: 15px; }

/*-- Doctor Directory (Side Bar)*/
.side-bar.join-now { width: 33%; }

.side-bar.join-now h2 {
	font-family: 'Montserrat',sans-serif;
	font-size: 52px;
	text-transform: uppercase;
	line-height: 68px;
	padding-bottom: 5px;
}

.side-bar.join-now h3 {
	font-family: 'Montserrat',sans-serif;
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
}

.join-now-content { padding: 364px 56px 400px; }


/*-- Doctor Directory (form)*/
.form-filter { margin: 30px 0 40px; }

.form-filter select {
	text-align: center;
	height: 45px;
	min-width: 250px;
	margin-bottom: 20px;
}
	
.form-filter select:last-of-type { margin-bottom: 30px; }


/*-- Log In (Background) --*/
.bg-track-your-health {
	background: url(bg-track-your-health.jpg) no-repeat;
	background-size: cover;
}

.bg-skyblue-login {
	background: url(bg-skyblue-login.jpg) no-repeat;
	background-size: cover;
}

/*-- Log In (Button) --*/
.btn.login {
	font-size: 16px;
	font-weight: 700;
	background: #8dc63f;
	text-transform: initial;
	letter-spacing: initial;
	min-width: 112px;
	padding: 14px 31px 13px 30px;
	border: none;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.btn.login-options {
	font-size: 14px;
	font-weight: 700;
	color: #1e1b1d;
	background: initial;
	text-transform: initial;
	letter-spacing: initial;
	min-width: 335px;
	padding: 7px 0 6px 10px;
	border: 1px solid #b2b5b6;
	border-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/*-- Log In (Section Content) --*/
.section-content.track-your-health { padding: 131px 0 75px; }

.section-content.login { padding: 75px 0 100px; }


/*-- Log In (Banner Content) --*/
.track-your-health h1 { padding-bottom: 30px; }

.track-your-health p {
	font-family: 'Merriweather', serif;
	font-size: 12px;
}

/*-- Log In (Form-login) --*/
.form-login {
	font-family: 'Montserrat', sans-serif;
	background: #fff;
	width: 100%;
	max-width: 450px;
	margin: 0 auto;
	padding: 33px 0 58px;
	border-radius: 13px;
	border-top-left-radius: 13px;
	border-top-right-radius: 13px;
	border-bottom-left-radius: 13px;
	border-bottom-right-radius: 13px;
	box-shadow: 0px 3px 4px #087fad;
}

.form-container {
	max-width: 336px;
	margin: 0 auto;
	padding: 30px 0 0;
	border-top: 1px solid #dddedf;
}

.form-login h2 {
	font-size: 32px;
	font-weight: 700;
	color: #2e3235;
	letter-spacing: 5px;
	padding-bottom: 26px;
}

.form-login form div:first-of-type div:first-of-type {
	font-size: 12px;
	font-weight: normal;
	color: #2f3234;
}

.form-login form div:first-of-type div:first-of-type a {
	display: block;
	text-align: left;
	padding: 8px 0;
}

.form-login form div:first-of-type div:first-of-type a:first-of-type { padding-top: 0; }

.form-login form div:first-of-type div a span { color: #00adef; }

.form-login form div:last-of-type a {
	text-align: left;
	margin: 7px 0;
}

.form-login form div:last-of-type img { padding-right: 20px; }

.form-login form div:last-of-type { border: none; }

.form-login form div:last-of-type div {
	width: 100%;
	height: 8px;
	border-bottom: 1px solid #dddedf;
	text-align: center;
}

.form-login form div:last-of-type div span {
	font-size: 16px;
	color: #b2b5b6;
	background: #fff;
	padding: 0 10px;

} 

.form-login form div:last-of-type div { margin-bottom: 30px; }	

.form-login input[type="email"],
.form-login input[type="password"] {
	font-size: 18px;
	color: #2e3235;
	padding: 17px 0 16px 25px;
	min-width: 332px;
	border: 2px solid #dddedf;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 20px;
}

.side-bar {
	float: left;
	width: 100%;
	max-width: 252px;
	margin: 0 auto;
	word-wrap: break-word;
}
.side-bar span {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #343434;
}
/*-- Doctor's Profile(Section Content) --*/
.section-content.looking-for { padding: 131px 0 81px; }
.section-content.doctor-profile { padding: 35px 0 100px; }

/*-- Doctor's Profile(Background) --*/
.bg-looking-for {
	background: url(bg-looking-for.jpg) no-repeat;
	background-size: cover;
}

.section-content.doctor-profile { background: #ebebeb; }


/*-- Doctor's Profile (Button) --*/

.btn.doctor-contact {
	font-size: 12px;
	font-weight: 700;
	color: #00aeef;
	text-align: center;
	letter-spacing: 2px;
	background: none;
	min-width: 80px;
	padding: 5px 0 6px;
	border: 2px solid #00aeef;
	border-radius: 30px;
}

.btn.book-now {
	font-size: 12px;
	color: #8dc63f;
	text-align: center;
	min-width: 140px;
	padding: 11px 30px 12px;
	border: 2px solid #8dc63f;
	border-radius: 30px;

}

.btn.book-now:hover { background: initial; }

/*-- Doctor's Profile (Banner) --*/
.looking-for h1 { padding-bottom: 20px; }

/*-- Doctor's Profile (Content) --*/
.side-bar.doctor-profile {
	width: 28%;
	padding-right: 14px;

}

.profile-info {
	float: left;
	width: 75%;
	max-width: 672px;
	margin: 0 auto;
	padding-left: 14px;
	word-wrap: break-word;
}

.side-bar.doctor-profile div:first-of-type { padding: 25px 0; }

.side-bar.doctor-profile div:first-of-type a { margin: 0 13px; }

.side-bar.doctor-profile div:last-of-type { background: #e1e1e1; }

.side-bar.doctor-profile div:last-of-type ul li {
	padding: 44px 0 40px;
	border-bottom: 2px solid #cccccc;
}

.side-bar.doctor-profile div:last-of-type ul li:last-child { border-bottom: none; }

.side-bar.doctor-profile div:last-of-type ul li a{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #949494;
}

.side-bar.doctor-profile div:last-of-type ul li a:hover { color: #00aeef; }
.side-bar.doctor-profile span {
	font-size: 22px;
	color: #00aeef;
	letter-spacing: 2px;
}

.side-bar.doctor-profile div:last-of-type ul li:first-child a {
	display: block;
	padding-bottom: 7px;
}

/*-- Doctor Profile (Profile info) --*/
.profile-info div:first-of-type { padding-bottom: 65px; }
.profile-info h3 {
	font-size: 32px;
	padding-bottom: 10px;
}

.profile-info span {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #848484;
	padding-bottom: 10px;
	line-height: 30px;
}

.profile-info p {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #343434;
	line-height: 40px;
}

.doctor-credentials {
	max-width: 670px;
	width: 100%;
	margin: 0 auto;
	background: #fff;
}

.doctor-credentials ul li {
	padding: 45px 0 45px 29px;
	border-bottom: 2px solid #d7d7d7;
}

.doctor-credentials ul li span{
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #343434;
	padding-bottom: 17px;
}

.doctor-credentials ul li p{
	font-family: 'Merriweather', serif;
	font-size: 12px;
	text-align: left;
	color: #7d7d7d;
	max-width: 420px;
}