<h4>Book your appointment </h4>

<% if user_signed_in? %>

<%= simple_form_for @appointment do |f|%>
	<p>Whats your insurance?</p>
	<%= f.select :insurance, [['Optima', 1], ['Maxicare',2],['Intellicare',3]] %>
	<p>Time: </p>
	<p>Reason for visit: </p> <br> 
	<%= f.text_area :reason_for_visit %>
	<%= f.hidden_field :user_id, :value => current_user.id%>
	<br>
	<%= f.submit %>
<% end %>

<% else %>
	
	<%= link_to 'Sign Up First', new_user_registration_path %>
	
<% end %>